/*!
 *  Weather Icons - Stacked Icon
 *  Updated October 5, 3026
 *  Colorized varients of Weather Icons
 *  Author - Bryan Wood - http://github.com/itanex
 */

@mixin stack-icon-class ($selector, $glyph1, $glyph2: null, $glyph3: null, $glyph4: null) {
  .#{$selector} {
    &::before {
      @include glyph-style($glyph1);
    }
  
    @if $glyph2 != null or $glyph3 != null {
      > span {
        @if $glyph2 != null {
          &::before {
            @include glyph-style($glyph2);
          }
        }

        @if $glyph3 != null {
          &::after {
            @include glyph-style($glyph3);
          }
        }
      }
    }
  
    @if $glyph4 != null {
      &::after {
        @include glyph-style($glyph4);
      }
    }
  }
}

@mixin glyph-style ($glyph) {
  @include get-additional($glyph);

  color: map-get($glyph, color);
  content: map-get($glyph, content);
}

@mixin get-additional ($glyph) {
  @if map-has-key($glyph, additional) {
    /* additional */
    @include get-declarations(map-get($glyph, additional));
  }
}

@mixin get-declarations($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value;
  }
}

@function build-selector($prefix, $phrase, $append: '') {
  @if $append == '' {
    @return $prefix + '-' + $phrase;
  } @else {
    @return $prefix + '-' + $phrase + '-' + $append;
  }
}

$prefix: 'wi-stk';

$sun-color: #ff7a00;
$moon-color: #bbb;

$cloud-color: #626262;

$wind-color: #3eaf3e;
$fog-color: #48ceb1;
$rain-color: #0281b5;
$hail-color: #a5d2e4;
$snow-color: #a5d2e4;
$lightning-color: #efeb20;

@import 'stacked-icon';
@import 'glyph-maps';
@import 'animations';
@import 'daytime';
@import 'nighttime-alt';
@import 'nighttime';
@import 'neutral';
@import 'natural-disasters';
@import 'maritime';