/*!
 *  Weather Icons 2.1.0 - Stacked Icon
 *  Updated October 5, 3026
 *  Colorized varients of Weather Icons
 *  Author - Bryan Wood - http://github.com/itanex
 */

@mixin stack-icon-class ($selector, $glyph1, $glyph2: null, $glyph3: null, $glyph4: null) {
  #{$selector} {
    &::before {
      @include glyph-style($glyph1);
    }
  
    @if $glyph2 != null or $glyph3 != null {
      > span {
        @if $glyph2 != null {
          &::before {
            @include glyph-style($glyph2);
          }
        }

        @if $glyph3 != null {
          &::after {
            @include glyph-style($glyph3);
          }
        }
      }
    }
  
    @if $glyph4 != null {
      &::after {
        @include glyph-style($glyph4);
      }
    }
  }
}

@mixin glyph-style ($glyph) {
  @include get-additional($glyph);

  color: map-get($glyph, color);
  content: map-get($glyph, content);
}

@mixin get-additional ($glyph) {
  @if map-has-key($glyph, additional) {
    /* additional */
    @include get-declarations(map-get($glyph, additional));
  }
}

@mixin get-declarations($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value;
  }
}

@function build-class-selectors($prefix, $alias) {
  $selector: null;
  
  @each $item in $alias {
    $selector: append($selector, unquote('.#{$prefix}-#{$item}'), 'comma');
  }
  
  @return $selector;
}

$prefix: 'wi-stk' !default;

$sun-color: #ff7a00 !default;
$moon-color: #bbb !default;

$cloud-color: #626262 !default;

$wind-color: #3eaf3e !default;
$fog-color: #48ceb1 !default;
$rain-color: #0281b5 !default;
$hail-color: #a5d2e4 !default;
$snow-color: #a5d2e4 !default;
$lightning-color: #efeb20 !default;


@import 'icon-aliases';
@import 'stack-icons/stacked-icon';
@import 'stack-icons/glyph-maps';
@import 'stack-icons/daytime';
@import 'stack-icons/nighttime-alt';
@import 'stack-icons/nighttime';
@import 'stack-icons/neutral';
@import 'stack-icons/natural-disasters';
@import 'stack-icons/maritime';
