$wind-beaufort-0-icon: '\f0b7';
$wind-beaufort-1-icon: '\f0b8';
$wind-beaufort-2-icon: '\f0b9';
$wind-beaufort-3-icon: '\f0ba';
$wind-beaufort-4-icon: '\f0bb';
$wind-beaufort-5-icon: '\f0bc';
$wind-beaufort-6-icon: '\f0bd';
$wind-beaufort-7-icon: '\f0be';
$wind-beaufort-8-icon: '\f0bf';
$wind-beaufort-9-icon: '\f0c0';
$wind-beaufort-10-icon: '\f0c1';
$wind-beaufort-11-icon: '\f0c2';
$wind-beaufort-12-icon: '\f0c3';
