$day-sunny-icon: '\f00d';
$day-cloudy-icon: '\f002';
$day-cloudy-gusts-icon: '\f000';
$day-cloudy-windy-icon: '\f001';
$day-fog-icon: '\f003';
$day-hail-icon: '\f004';
$day-haze-icon: '\f0b6';
$day-lightning-icon: '\f005';
$day-rain-icon: '\f008';
$day-rain-mix-icon: '\f006';
$day-rain-wind-icon: '\f007';
$day-showers-icon: '\f009';
$day-sleet-icon: '\f0b2';
$day-sleet-storm-icon: '\f068';
$day-snow-icon: '\f00a';
$day-snow-thunderstorm-icon: '\f06b';
$day-snow-wind-icon: '\f065';
$day-sprinkle-icon: '\f00b';
$day-storm-showers-icon: '\f00e';
$day-sunny-overcast-icon: '\f00c';
$day-thunderstorm-icon: '\f010';
$day-windy-icon: '\f085';
$solar-eclipse-icon: '\f06e';
$hot-icon: '\f072';
$day-cloudy-high-icon: '\f07d';
$day-light-wind-icon: '\f0c4';
