$direction-up-icon: '\f058';
$direction-up-right-icon: '\f057';
$direction-right-icon: '\f04d';
$direction-down-right-icon: '\f088';
$direction-down-icon: '\f044';
$direction-down-left-icon: '\f043';
$direction-left-icon: '\f048';
$direction-up-left-icon: '\f087';
