$alien-icon: '\f075';
$celsius-icon: '\f03c';
$fahrenheit-icon: '\f045';
$degrees-icon: '\f042';
$thermometer-icon: '\f055';
$thermometer-exterior-icon: '\f053';
$thermometer-internal-icon: '\f054';
$cloud-down-icon: '\f03d';
$cloud-up-icon: '\f040';
$cloud-refresh-icon: '\f03e';
$horizon-icon: '\f047';
$horizon-alt-icon: '\f046';
$sunrise-icon: '\f051';
$sunset-icon: '\f052';
$moonrise-icon: '\f0c9';
$moonset-icon: '\f0ca';
$refresh-icon: '\f04c';
$refresh-alt-icon: '\f04b';
$umbrella-icon: '\f084';
$barometer-icon: '\f079';
$humidity-icon: '\f07a';
$na-icon: '\f07b';
$train-icon: '\f0cb';
