$cloud-icon: '\f041';
$cloudy-icon: '\f013';
$cloudy-gusts-icon: '\f011';
$cloudy-windy-icon: '\f012';
$fog-icon: '\f014';
$hail-icon: '\f015';
$rain-icon: '\f019';
$rain-mix-icon: '\f017';
$rain-wind-icon: '\f018';
$showers-icon: '\f01a';
$sleet-icon: '\f0b5';
$snow-icon: '\f01b';
$sprinkle-icon: '\f01c';
$storm-showers-icon: '\f01d';
$thunderstorm-icon: '\f01e';
$snow-wind-icon: '\f064';
$snow-icon: '\f01b';
$smog-icon: '\f074';
$smoke-icon: '\f062';
$lightning-icon: '\f016';
$raindrops-icon: '\f04e';
$raindrop-icon: '\f078';
$dust-icon: '\f063';
$snowflake-cold-icon: '\f076';
$windy-icon: '\f021';
$strong-wind-icon: '\f050';
$sandstorm-icon: '\f082';
$earthquake-icon: '\f0c6';
$fire-icon: '\f0c7';
$flood-icon: '\f07c';
$meteor-icon: '\f071';
$tsunami-icon: '\f0c5';
$volcano-icon: '\f0c8';
$hurricane-icon: '\f073';
$tornado-icon: '\f056';
$small-craft-advisory-icon: '\f0cc';
$gale-warning-icon: '\f0cd';
$storm-warning-icon: '\f0ce';
$hurricane-warning-icon: '\f0cf';
$wind-direction-icon: '\f0b1';
