$night-clear-icon: '\f02e';
$night-alt-cloudy-icon: '\f086';
$night-alt-cloudy-gusts-icon: '\f022';
$night-alt-cloudy-windy-icon: '\f023';
$night-alt-hail-icon: '\f024';
$night-alt-lightning-icon: '\f025';
$night-alt-rain-icon: '\f028';
$night-alt-rain-mix-icon: '\f026';
$night-alt-rain-wind-icon: '\f027';
$night-alt-showers-icon: '\f029';
$night-alt-sleet-icon: '\f0b4';
$night-alt-sleet-storm-icon: '\f06a';
$night-alt-snow-icon: '\f02a';
$night-alt-snow-thunderstorm-icon: '\f06d';
$night-alt-snow-wind-icon: '\f067';
$night-alt-sprinkle-icon: '\f02b';
$night-alt-storm-showers-icon: '\f02c';
$night-alt-thunderstorm-icon: '\f02d';
$night-cloudy-icon: '\f031';
$night-cloudy-gusts-icon: '\f02f';
$night-cloudy-windy-icon: '\f030';
$night-fog-icon: '\f04a';
$night-hail-icon: '\f032';
$night-lightning-icon: '\f033';
$night-partly-cloudy-icon: '\f083';
$night-rain-icon: '\f036';
$night-rain-mix-icon: '\f034';
$night-rain-wind-icon: '\f035';
$night-showers-icon: '\f037';
$night-sleet-icon: '\f0b3';
$night-sleet-storm-icon: '\f069';
$night-snow-icon: '\f038';
$night-snow-thunderstorm-icon: '\f06c';
$night-snow-wind-icon: '\f066';
$night-sprinkle-icon: '\f039';
$night-storm-showers-icon: '\f03a';
$night-thunderstorm-icon: '\f03b';
$lunar-eclipse-icon: '\f070';
$stars-icon: '\f077';
$storm-showers-icon: '\f01d';
$thunderstorm-icon: '\f01e';
$night-alt-cloudy-high-icon: '\f07e';
$night-cloudy-high-icon: '\f080';
$night-alt-partly-cloudy-icon: '\f081';
