$time-1-icon: '\f08a';
$time-2-icon: '\f08b';
$time-3-icon: '\f08c';
$time-4-icon: '\f08d';
$time-5-icon: '\f08e';
$time-6-icon: '\f08f';
$time-7-icon: '\f090';
$time-8-icon: '\f091';
$time-9-icon: '\f092';
$time-10-icon: '\f093';
$time-11-icon: '\f094';
$time-12-icon: '\f089';
