$n-icon: '\f0b1';
$nne-icon: '\f0b1';
$ne-icon: '\f0b1';
$ene-icon: '\f0b1';
$e-icon: '\f0b1';
$ese-icon: '\f0b1';
$se-icon: '\f0b1';
$sse-icon: '\f0b1';
$s-icon: '\f0b1';
$ssw-icon: '\f0b1';
$sw-icon: '\f0b1';
$wsw-icon: '\f0b1';
$w-icon: '\f0b1';
$wnw-icon: '\f0b1';
$nw-icon: '\f0b1';
$nnw-icon: '\f0b1';
$n-icon: '\f0b1';
$nne-icon: '\f0b1';
$ne-icon: '\f0b1';
$ene-icon: '\f0b1';
$e-icon: '\f0b1';
$ese-icon: '\f0b1';
$se-icon: '\f0b1';
$sse-icon: '\f0b1';
$s-icon: '\f0b1';
$ssw-icon: '\f0b1';
$sw-icon: '\f0b1';
$wsw-icon: '\f0b1';
$w-icon: '\f0b1';
$wnw-icon: '\f0b1';
$nw-icon: '\f0b1';
$nnw-icon: '\f0b1';
