.#{$wi-css-prefix}-forecast-io-clear-day:before            { content: $day-sunny-icon     ; }
.#{$wi-css-prefix}-forecast-io-clear-night:before          { content: $night-clear-icon   ; }
.#{$wi-css-prefix}-forecast-io-rain:before                 { content: $rain-icon          ; }
.#{$wi-css-prefix}-forecast-io-snow:before                 { content: $snow-icon          ; }
.#{$wi-css-prefix}-forecast-io-sleet:before                { content: $sleet-icon         ; }
.#{$wi-css-prefix}-forecast-io-wind:before                 { content: $strong-wind-icon   ; }
.#{$wi-css-prefix}-forecast-io-fog:before                  { content: $fog-icon           ; }
.#{$wi-css-prefix}-forecast-io-cloudy:before               { content: $cloudy-icon        ; }
.#{$wi-css-prefix}-forecast-io-partly-cloudy-day:before    { content: $day-cloudy-icon    ; }
.#{$wi-css-prefix}-forecast-io-partly-cloudy-night:before  { content: $night-cloudy-icon  ; }
.#{$wi-css-prefix}-forecast-io-hail:before                 { content: $hail-icon          ; }
.#{$wi-css-prefix}-forecast-io-thunderstorm:before         { content: $thunderstorm-icon  ; }
.#{$wi-css-prefix}-forecast-io-tornado:before              { content: $tornado-icon       ; }
