.#{$wi-css-prefix}-wu-chanceflurries:before { content: $snow-wind-icon; }
.#{$wi-css-prefix}-wu-chancerain:before     { content: $rain-icon; }
.#{$wi-css-prefix}-wu-chancesleat:before    { content: $sleet-icon; }
.#{$wi-css-prefix}-wu-chancesnow:before     { content: $snow-icon; }
.#{$wi-css-prefix}-wu-chancetstorms:before  { content: $thunderstorm-icon; }
.#{$wi-css-prefix}-wu-clear:before          { content: $day-sunny-icon; }
.#{$wi-css-prefix}-wu-cloudy:before         { content: $day-cloudy-icon; }
.#{$wi-css-prefix}-wu-flurries:before       { content: $snow-wind-icon; }
.#{$wi-css-prefix}-wu-hazy:before           { content: $day-haze-icon; }
.#{$wi-css-prefix}-wu-mostlycloudy:before   { content: $day-cloudy-icon; }
.#{$wi-css-prefix}-wu-mostlysunny:before    { content: $day-sunny-icon; }
.#{$wi-css-prefix}-wu-partlycloudy:before   { content: $day-cloudy-icon; }
.#{$wi-css-prefix}-wu-partlysunny:before    { content: $day-sunny-icon; }
.#{$wi-css-prefix}-wu-rain:before           { content: $showers-icon; }
.#{$wi-css-prefix}-wu-sleat:before          { content: $sleet-icon; }
.#{$wi-css-prefix}-wu-snow:before           { content: $snow-icon; }
.#{$wi-css-prefix}-wu-sunny:before          { content: $day-sunny-icon; }
.#{$wi-css-prefix}-wu-tstorms:before        { content: $thunderstorm-icon; }
.#{$wi-css-prefix}-wu-unknown:before        { content: $day-sunny-icon; }
