@import 'animations/bounce';
@import 'animations/flash';
@import 'animations/headshake';
@import 'animations/jello';
@import 'animations/pulse';
@import 'animations/rubberband';
@import 'animations/shake';
@import 'animations/swing';
@import 'animations/tada';
@import 'animations/wobble';


@keyframes lightning {
  0% {
    color: darken($lightning-color, 20%);
  }
  21% {
    color: darken($lightning-color, 20%);
  }
  24% {
    color: $lightning-color;
  }
  25% {
    color: darken($lightning-color, 20%);
  }
  61% {
    color: darken($lightning-color, 20%);
  }
  63% {
    color: $lightning-color;
  }
  65% {
    color: darken($lightning-color, 20%);
  }
  100% {
    color: darken($lightning-color, 20%);
  }
}


$origin-x: .71em;
$origin-y: 1.25em;
@keyframes sunrotating {
  from {
    transform: rotate(0deg);
    //transform-origin: $origin-x $origin-y;
  }
  to {
    transform: rotate(360deg);
    //transform-origin: $origin-x $origin-y;
  }
}



@keyframes snowrotating {
  from {
    transform: rotate(0deg);
    transform-origin: .71em 1.25em;
  }
  to {
    transform: rotate(360deg);
    transform-origin: .71em 1.25em;
  }
}

$origin-x: .8em;
$origin-y: 1.09em;

@keyframes snowflakerotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}