
/*!
 *  Unkown Glyph Map
 *  Used to standarize against methods until glyph is available
 */
$unknown-map: (
  content: '\F---',
  color: #000000,
);

/*!
 *  Day Glyph Maps
 */
$sunny-map: (
  content: '\F00d',
  color: $sun-color,
  additional: (
    text-align: center,
    vertical-align: middle,
  ),
  animation: (
    animation-name: sunrotating,
    animation-duration: 30s,
    animation-iteration-count: infinite,
    animation-timing-function: linear,
  ),
);

$sun-behind-map: (
  content: '\F104',
  color: $sun-color,
);

$sun-behind-nudge-map: (
  content: '\F105',
  color: $sun-color,
);

$sun-overcast-map: (
  content: '\F135',
  color: $sun-color,
);

/*!
 *  Night Glyph Maps
 */
$moon-behind-map: (
  content: '\F106',
  color: $moon-color,
);

$moon-behind-nudge-map: (
  content: '\F107',
  color: $moon-color,
);

$moon-overcast-map: (
  content: '\F136',
  color: $moon-color,
);

$moon-clear-map: (
  content: '\f02e',
  color: $moon-color,
);


/*!
 *  Night (alt) Glyph Maps
 */
$moon-alt-behind-map: (
  content: '\F108',
  color: $moon-color,
);

$moon-alt-behind-nudge-map: (
  content: '\F109',
  color: $moon-color,
);

$moon-alt-overcast-map: (
  content: '\F137',
  color: $moon-color,
);

/*!
 *  Cloud Glyph Maps
 */
$cloud-map: (
  content: '\F041',
  color: $cloud-color,
);

$cloud-whole-map: (
  content: '\F100',
  color: $cloud-color,
);

$cloud-center-map: (
  content: '\F101',
  color: $cloud-color,
);

$cloud-left-map: (
  content: '\F102',
  color: $cloud-color,
);

$cloud-top-map: (
  content: '\F103',
  color: $cloud-color,
);

$cloud-overcast-map: (
  content: '\F134',
  color: $cloud-color,
);

/*!
 *  Wind Glyph Maps
 */
$gust-map: (
  content: '\F121',
  color: $wind-color,
);

$wind-map: (
  content: '\F120',
  color: $wind-color,
  animation: (
    animation-name: shake,
    animation-duration: 10s,
    animation-iteration-count: infinite,
  )
);

/*!
 *  Fog Glyph Maps
 */
$fog-map: (
  content: '\F122',
  color: $fog-color,
  animation: (
    animation-name: pulse,
    animation-duration: 2s,
    animation-iteration-count: infinite,
  )
);

/*!
 *  Hail Glyph Maps
 */
$hail-map: (
  content: '\F110',
  color: $hail-color,
);

/*!
 *  Lightning Glyph Maps
 */
$lightning-map: (
  content: '\F133',
  color: $lightning-color,
  animation: (
    animation-name: lightning,
    animation-duration: 2s,
    animation-timing-function: linear,
    animation-iteration-count: infinite,
  )
);

$lightning-nudge-map: (
  content: '\F125',
  color: $lightning-color,
  animation: (
    animation-name: lightning,
    animation-duration: 2s,
    animation-timing-function: linear,
    animation-iteration-count: infinite,
  )
);

/*!
 *  Rain Glyph Maps
 */
$rain-map: (
  content: '\F118',
  color: $rain-color,
);

$rain-mix-map: (
  content: '\F114',
  color: $rain-color,
);

$rain-wind-map: (
  content: '\F111',
  color: $rain-color,
);

$rain-showers-map: (
  content: '\F112',
  color: $rain-color,
);

$rain-sprinkles-map: (
  content: '\F123',
  color: $rain-color,
);

$rain-nudge-map: (
  content: '\F128',
  color: $rain-color,
);

$rain-showers-nudge-map: (
  content: '\F129',
  color: $rain-color,
);

/*!
 *  Sleet Glyph Maps
 */
$sleet-map: (
  content: '\F124',
  color: $hail-color,
);

/*!
 *  Snow Glyph Maps
 */
$snow-map: (
  content: '\F116',
  color: $snow-color,
  animation: (
    animation-name: snowrotating,
    animation-duration: 4s,
    animation-iteration-count: infinite,
    animation-timing-function: linear,
  )
);

$snow-wind-map: (
  content: '\F117',
  color: $snow-color,
);

$snowflake-map: (
  content: '\F076',
  color: $snow-color,
  additional: (
    text-align: center,
    vertical-align: middle,
  ),
  animation: (
    animation-name: snowflakerotating,
    animation-duration: 3s,
    animation-iteration-count: infinite,
    animation-timing-function: linear,
  )
);
