.wi-wind-beaufort-0::before {
  content: $wind-beaufort-0-icon;
}

.wi-wind-beaufort-1::before {
  content: $wind-beaufort-1-icon;
}

.wi-wind-beaufort-2::before {
  content: $wind-beaufort-2-icon;
}

.wi-wind-beaufort-3::before {
  content: $wind-beaufort-3-icon;
}

.wi-wind-beaufort-4::before {
  content: $wind-beaufort-4-icon;
}

.wi-wind-beaufort-5::before {
  content: $wind-beaufort-5-icon;
}

.wi-wind-beaufort-6::before {
  content: $wind-beaufort-6-icon;
}

.wi-wind-beaufort-7::before {
  content: $wind-beaufort-7-icon;
}

.wi-wind-beaufort-8::before {
  content: $wind-beaufort-8-icon;
}

.wi-wind-beaufort-9::before {
  content: $wind-beaufort-9-icon;
}

.wi-wind-beaufort-10::before {
  content: $wind-beaufort-10-icon;
}

.wi-wind-beaufort-11::before {
  content: $wind-beaufort-11-icon;
}

.wi-wind-beaufort-12::before {
  content: $wind-beaufort-12-icon;
}
