.wi-direction-up:before {content: $direction-up-icon;}
.wi-direction-up-right:before {content: $direction-up-right-icon;}
.wi-direction-right:before {content: $direction-right-icon;}
.wi-direction-down-right:before {content: $direction-down-right-icon;}
.wi-direction-down:before {content: $direction-down-icon;}
.wi-direction-down-left:before {content: $direction-down-left-icon;}
.wi-direction-left:before {content: $direction-left-icon;}
.wi-direction-up-left:before {content: $direction-up-left-icon;}