.wi-alien:before {content: $alien-icon;}
.wi-celsius:before {content: $celsius-icon;}
.wi-fahrenheit:before {content: $fahrenheit-icon;}
.wi-degrees:before {content: $degrees-icon;}
.wi-thermometer:before {content: $thermometer-icon;}
.wi-thermometer-exterior:before {content: $thermometer-exterior-icon;}
.wi-thermometer-internal:before {content: $thermometer-internal-icon;}
.wi-cloud-down:before {content: $cloud-down-icon;}
.wi-cloud-up:before {content: $cloud-up-icon;}
.wi-cloud-refresh:before {content: $cloud-refresh-icon;}
.wi-horizon:before {content: $horizon-icon;}
.wi-horizon-alt:before {content: $horizon-alt-icon;}
.wi-sunrise:before {content: $sunrise-icon;}
.wi-sunset:before {content: $sunset-icon;}
.wi-moonrise:before {content: $moonrise-icon;}
.wi-moonset:before {content: $moonset-icon;}
.wi-refresh:before {content: $refresh-icon;}
.wi-refresh-alt:before {content: $refresh-alt-icon;}
.wi-umbrella:before {content: $umbrella-icon;}
.wi-barometer:before {content: $barometer-icon;}
.wi-humidity:before {content: $humidity-icon;}
.wi-na:before {content: $na-icon;}
.wi-train:before {content: $train-icon;}