.wi-time-1:before {content: $time-1-icon;}
.wi-time-2:before {content: $time-2-icon;}
.wi-time-3:before {content: $time-3-icon;}
.wi-time-4:before {content: $time-4-icon;}
.wi-time-5:before {content: $time-5-icon;}
.wi-time-6:before {content: $time-6-icon;}
.wi-time-7:before {content: $time-7-icon;}
.wi-time-8:before {content: $time-8-icon;}
.wi-time-9:before {content: $time-9-icon;}
.wi-time-10:before {content: $time-10-icon;}
.wi-time-11:before {content: $time-11-icon;}
.wi-time-12:before {content: $time-12-icon;}